# Ignore installed plugin for neovim
config/nvim/**
# Ignore the installed plugins
vim/plugged/**
# Ignore vim/view files
vim/view/**
# Ignore netrwhist
vim/.netrwhist
# Ignore Brefile.lock.json
Brewfile.lock.json
